.wrapper {
  background: url(../img/bg-footer.jpg);
}

/*_________1 news page ______*/

.news__block {
  position: relative;

  padding: 40px 0;
  &:nth-of-type(2n+2) {
    background: rgba(0, 0, 0, .1);
    &:before,
    &:after {
      position: absolute;
      top: 0;

      display: block;

      width: 500%;
      height: 100%;

      content: '';

      background: rgba(0, 0, 0, .1);
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
    .news__block-img {
      position: absolute;
      right: 0;
    }
  }
}

.news__block-img img {
  width: 100%;
}

.news__block-tittle {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 23px;
  font-weight: 400;

  margin-bottom: 10px;

  color: #b49864;
}

.news__block-descr p {
  font-family: 'Muller-Light',sans-serif;
  font-size: 16px;
  font-weight: 400;

  margin-bottom: 10px;

  color: #fff;
}

.news__block-date {
  font-family: 'Muller-Light',sans-serif;
  font-size: 26px;
  font-weight: 400;

  color: #b49864;
}

.news__block-descr .news__block-more {
  display: inline-block;
  float: right;

  width: 153px;
}

.pages-list {
  padding: 45px 15px;

  text-align: center;
  span,
  a {
    font-family: 'Muller-Light',sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    line-height: 22px;

    margin: 0 10px;
    padding: 10px;

    text-transform: uppercase;

    color: #fff;
    &.current {
      color: #ceb380;
      border-bottom: 4px solid #ceb380;
    }
    &:hover {
      text-decoration: none;

      color: #ceb380;
    }
  }
}

/*_________2 group-classes page_________*/

.group-classes .section-tittle {
  &::before,
  &::after {
    width: 31%;
  }
}

.group-classes__block-tittle {
  position: relative;

  margin-bottom: 60px;
  &:before,
  &:after {
    position: absolute;
    top: 50%;

    display: block;

    width: 33%;
    height: 18px;
    margin-top: -11px;

    content: '';

    background: #b49864;
  }
  &:before {
    left: 15px;
  }
  &:after {
    right: 15px;
  }
  h3 {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 25px;
    font-weight: 400;

    text-align: center;
    text-transform: uppercase;

    color: #b49864;
  }
}

.group-classes__tittle {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 25px;
  font-weight: 400;

  text-transform: uppercase;

  color: #b49864;
}

.group-classes__card {
  position: relative;

  padding: 20px;

  background: rgba(0, 0, 0, .2);
  p {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 20px;
    font-weight: 400;

    color: #fff;
  }
  span {
    font-family: 'Muller-Light',sans-serif;
    font-size: 20px;
    font-weight: 400;

    color: #899caf;
  }
}

.btn-info i {
  position: relative;
}

.popover-content {
  font-family: 'Muller-Light',sans-serif;
  font-weight: 400;

  padding: 5px 8px 2px;
}

.popover {
  border-radius: 0;
  background: #b49864;
  &.top > .arrow::after {
    border-top-color: #b49864;
  }
}

.btn-inf {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 25px;
  height: 25px;

  background: none;
  i {
    position: relative;
    top: auto;
    left: auto;
  }
}

.group-classes__date {
  font-family: 'Muller-Light',sans-serif;
  font-size: 19px;
  font-weight: 400;

  color: #b49864;
}

.group-classes__popuar {
  margin-bottom: 30px;
  > div:first-of-type {
    padding-right: 75px;

    text-align: right;
  }
}

.group-classes__block:not(:last-of-type) {
  margin-bottom: 100px;
}

.group-classes__block-tittle--all {
  &::before,
  &::after {
    width: 39%;
  }
}

.personal-classes__block > div:first-of-type {
  padding-top: 15px;
  padding-right: 50px;

  text-align: right;
}

table.all-services {
  width: 100%;
  td {
    font-family: 'Muller-Light',sans-serif;
    font-size: 17px;

    padding: 10px;

    color: #fff;
    &:last-of-type {
      text-align: right;

      color: #cfb789;
    }
    &:nth-of-type(2) {
      text-align: center;
    }
  }
  tr:nth-of-type(2n+2) td {
    background: rgba(0, 0, 0, .15);
  }
}

.personal-classes__block:not(:last-of-type) {
  margin-bottom: 50px;
}

/*_________3 contacts page_________*/

.contacts__left p {
  font-family: 'Muller-Light',sans-serif;
  font-size: 21px;

  position: relative;

  margin-bottom: 20px;
  padding-left: 45px;

  color: #fff;
  i {
    position: absolute;
    left: 0;
  }
  span {
    font-size: 30px;
  }
}

.contacts__right {
  position: relative;

  padding: 35px 25px 18px;

  border: 3px solid #b49864;
  h3 {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 25px;
    font-weight: 400;

    position: absolute;
    top: -15px;
    left: 25px;

    padding: 0 15px;

    color: #b49864;
    background: url(../img/bg-footer.jpg);
  }
}

/*_________4 clients page_________*/

.for-clients .section-tittle {
  &::before,
  &::after {
    width: 26%;
  }
}

.for-clients__text {
  margin-bottom: 60px;

  color: #fff;
  p {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.for-clients__block {
  position: relative;

  margin-bottom: 45px;
  padding: 15px 30px 15px 95px;

  color: #fff;
  border: 3px solid #b49864;
  h3 {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 20px;
    font-weight: 400;

    margin-bottom: 10px;
  }
  i {
    position: absolute;
    top: 50%;
    left: 25px;

    margin-top: -23px;
  }
}

.for-clients__button {
  text-align: center;
  .btn-solid--romb {
    display: inline-block;

    width: auto;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.partners {
  background-color: rgba(0, 0, 0, .09);
  .section-tittle {
    &::before,
    &::after {
      width: 34%;
    }
  }
}

.partners__block {
  height: 75px;
  margin: 0 15px;

  border-radius: 6px;
  background: rgba(255, 255, 255, .13);
  a {
    display: inline-block;

    width: 100%;
    height: 100%;
  }
}

.partners__slider {
  padding: 0 20px;
  .slick-prev,
  .slick-next {
    top: 50%;

    width: 21px;
    height: 37px;

    background: url(../img/sprites.png) no-repeat;
    background-position: -334px -35px;
  }
  .slick-prev {
    &:hover,
    &:focus {
      top: 50%;

      width: 21px;
      height: 37px;

      background: url(../img/sprites.png) no-repeat;
      background-position: -334px -35px;
    }
  }
  .slick-next {
    background: url(../img/sprites.png) no-repeat;
    background-position: -359px -35px;
    &:hover,
    &:focus {
      background: url(../img/sprites.png) no-repeat;
      background-position: -359px -35px;
    }
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}

.for-clients__button .btn-mobile {
  display: none;
}

/*_________5 shedule page_________*/

.shedule {
  color: #fff;
  .section-tittle {
    &::before,
    &::after {
      width: 31%;
    }
  }
}

.shedule__text {
  margin-bottom: 50px;

  column-count: 2;
  p {
    margin-bottom: 18px;
  }
}

.shedule__slider-nav-block {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 16px;
  font-weight: 400;

  text-align: center;
}

.slider-nav__img {
  height: 60px;
}

.shedule__slider-img img {
  width: 100%;
}

.shedule__slider-descr-text {
  margin-bottom: 18px;
  padding-bottom: 27px;

  border-bottom: 1px solid #a68b5e;
  h3 {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 17px;
    font-weight: 400;

    margin-bottom: 22px;

    text-transform: uppercase;
  }
  p {
    font-family: 'Muller-Light',sans-serif;
    font-size: 16px;
  }
  .more {
    font-size: 19px;

    -webkit-transition: .4s;
       -moz-transition: .4s;
        -ms-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
    text-decoration: underline;

    color: #a68b5e;
    &:hover {
      color: #fff;
    }
  }
}

.shedule__slider-descr-bot {
  margin-bottom: 20px;
  p {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 17px;
    font-weight: 400;

    position: relative;

    float: left;

    width: 50%;
    padding-left: 35px;

    text-transform: uppercase;

    color: #b49864;
    i {
      position: absolute;
      top: -3px;
      left: 0;
    }
  }
}

.shedule__slider-descr .btn-solid--romb {
  font-size: 15px;

  width: 80%;
}

.shedule__slider-teacher {
  text-align: center;
}

.shedule__slider-teacher-img {
  margin-bottom: 10px;

  background: url(../img/bg-trainer.png) no-repeat 50% 50%;
  background-size: 100%;
  img {
    display: inline-block;

    width: 194px;
  }
}

.shedule__slider-teacher-text {
  h3 {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 17px;
    font-weight: 400;

    margin-bottom: 5px;
  }
  p {
    font-family: 'Muller-Light',sans-serif;
    font-size: 15px;
    line-height: 18px;

    color: #b8c4d0;
  }
  .name {
    font-size: 14px;
    font-weight: 400;

    margin-bottom: 10px;

    text-transform: uppercase;

    color: #fff;
  }
}

.shedule__slider-nav {
  margin: 0 15px 27px;
  padding-bottom: 15px;

  border-bottom: 5px solid #b49864;
  &:before {
    position: absolute;
    top: 100%;
    left: 50%;

    display: inline-block;

    width: 0;
    height: 0;
    margin-left: -7px;

    content: '';

    border: 14px solid #b49864;
    border-right-color: transparent;
    border-bottom: none;
    border-left-color: transparent;
  }
  .slick-list {
    padding: 0 !important;
  }
}

.slick-current.shedule__slider-nav-block {
  color: #d1b786;
}

.shedule__slider-nav-block {
  cursor: pointer;
  &:hover {
    color: #d1b786;
  }
}

.shedule__slider {
  .slick-prev,
  .slick-next {
    z-index: 1;

    width: 21px;
    height: 37px;

    background: url(../img/sprites.png) no-repeat;
    background-position: -65px -159px;
  }
  .slick-prev {
    &:hover,
    &:focus {
      z-index: 1;

      width: 21px;
      height: 37px;

      background: url(../img/sprites.png) no-repeat;
      background-position: -65px -159px;
    }
  }
  .slick-next {
    background: url(../img/sprites.png) no-repeat;
    background-position: -90px -159px;
    &:hover,
    &:focus {
      background: url(../img/sprites.png) no-repeat;
      background-position: -90px -159px;
    }
  }
}

/*******/

.shedule__slider-nav {
  .slick-prev,
  .slick-next {
    z-index: 1;
    top: 50%;

    width: 21px;
    height: 37px;

    background: url(../img/sprites.png) no-repeat;
    background-position: -65px -159px;
  }
  .slick-prev {
    left: 0;
    &:hover,
    &:focus {
      z-index: 1;
      top: 50%;

      width: 21px;
      height: 37px;

      background: url(../img/sprites.png) no-repeat;
      background-position: -65px -159px;
    }
  }
  .slick-next {
    right: 0;

    background: url(../img/sprites.png) no-repeat;
    background-position: -90px -159px;
    &:hover,
    &:focus {
      background: url(../img/sprites.png) no-repeat;
      background-position: -90px -159px;
    }
  }
}

.shedule__slider-img {
  padding: 0;
}

.shedule__slider {
  margin-bottom: 100px;
}

.shedule__table {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 16px;
  font-weight: 400;

  background: rgba(0, 0, 0, .07);
  th,
  tr td:first-of-type {
    color: #b8c4d0;
    background: rgba(0, 0, 0, .19);
  }
}

.table > {
  thead > tr > th {
    border-bottom: none;
  }
  tbody > tr {
    > td {
      border: 1px solid #282f39;
    }
    &:first-of-type > td {
      border-top: none;
    }
    &:last-of-type > td {
      border-bottom: none;
    }
    > td {
      &:first-of-type,
      &:last-of-type {
        border-right: none;
      }
      &:nth-of-type(2) {
        border-left: none;
      }
    }
  }
}

.shedule__table {
  th:first-of-type {
    background: rgba(0, 0, 0, .4);
  }
  td,
  th {
    padding: 10px;

    text-align: center;
  }
}

.shedule__table-wrap .shedule__table td {
  width: 100px;
  height: 60px;

  vertical-align: middle;
}

.shedule__table {
  .blue {
    color: #76c1da;
  }
  .green {
    color: #77c18e;
  }
  .brown {
    color: #c1a577;
  }
  .pink {
    color: #da76a0;
  }
}

.shedule__table-wrap h2 {
  font-family: 'Muller-Light',sans-serif;
  font-size: 35px;
  font-weight: 400;

  text-align: right;

  color: #b8c4d0;
}

.shedule__slider-descr .btn-mobile {
  display: none;
}

/*_________6 about-us page_________*/

.about-us {
  color: #fff;
}

.about-us__descr {
  position: relative;

  overflow: hidden;

  padding: 60px 0;

  background: rgba(16, 20, 35, .49);
}

.bg-about-us {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.about-us__advantages {
  padding-top: 40px;
}

.section-tittle--left {
  position: relative;

  margin-bottom: 30px;
  h2 {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 25px;
    font-weight: 400;

    position: relative;
    z-index: 1;

    display: inline-block;

    padding: 0 15px;

    vertical-align: top;

    color: #b49864;
    background: url(../img/bg-footer.jpg);
  }
  &:before {
    position: absolute;
    top: 7px;
    left: 0;

    display: block;

    width: 100%;
    height: 5px;

    content: '';

    background: #b49864;
  }
}

.about-us__advantages-block-inner {
  position: relative;

  margin-bottom: 35px;
  padding-left: 57px;
}

.about-us__advantages-block {
  span {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 75px;
    font-weight: 400;
    line-height: 70px;

    position: absolute;
    top: 0;
    left: 0;

    color: #b49864;
  }
  h3 {
    font-family: 'Muller-Light',sans-serif;
    font-size: 20px;

    margin-bottom: 5px;
  }
  p {
    font-family: 'Muller-Light',sans-serif;
    font-size: 15px;
  }
}

.nav-tabs--gallery {
  position: relative;

  display: inline-block;

  padding-left: 48px;
  > li {
    > a {
      font-family: 'Muller-Bold',sans-serif;
      font-size: 18px;
      line-height: 20px;

      top: -12px;

      margin-right: 10px;
      padding-top: 12px;

      color: #fff;
      border: none;
      border-radius: 0;
      background: #2b3443;
      &:hover {
        color: #2b3443;
      }
    }
    &.active > a {
      font-family: 'Muller-Bold',sans-serif;

      color: #fff;
      border: none;
      border-radius: 0;
      background: #b49864;
      &:hover,
      &:focus {
        font-family: 'Muller-Bold',sans-serif;

        color: #fff;
        border: none;
        border-radius: 0;
        background: #b49864;
      }
      &:before {
        position: absolute;
        top: 100%;
        left: 50%;

        display: inline-block;

        width: 0;
        height: 0;
        margin-left: -10px;

        content: '';

        border: 10px solid #b49864;
        border-right-color: transparent;
        border-bottom: none;
        border-left-color: transparent;
      }
    }
  }
}

.about-us__gallery {
  padding-bottom: 30px;
}

.slider-personal__block {
  margin: 0 15px;

  text-align: center;

  color: #fff;
}

.slider-personal__img {
  position: relative;

  overflow: hidden;

  height: 400px;
  margin-bottom: 10px;
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 0;

    content: '';

    box-shadow: 0 0 12px 1px #000;
  }
  img {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: inline-block;

    max-width: 225px;
    margin-left: -112px;
  }
}

.slider-personal__text {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 22px;
  p {
    font-family: 'Muller-Light',sans-serif;
    font-size: 15px;

    width: 200px;
    margin: 5px auto 0;
  }
}

.slider-personal {
  .slick-prev,
  .slick-next {
    z-index: 1;

    width: 21px;
    height: 37px;

    background: url(../img/sprites.png) no-repeat;
    background-position: -65px -159px;
  }
  .slick-prev {
    &:hover,
    &:focus {
      z-index: 1;

      width: 21px;
      height: 37px;

      background: url(../img/sprites.png) no-repeat;
      background-position: -65px -159px;
    }
  }
  .slick-next {
    background: url(../img/sprites.png) no-repeat;
    background-position: -90px -159px;
    &:hover,
    &:focus {
      background: url(../img/sprites.png) no-repeat;
      background-position: -90px -159px;
    }
  }
}

/*________MEDIA________*/
@media screen and (max-width: 1200px) {
  .news .section-tittle {
    &::before,
    &::after {
      width: 38%;
    }
  }

  .group-classes .section-tittle {
    &::before,
    &::after {
      width: 27%;
    }
  }

  .group-classes__block-tittle {
    &::before,
    &::after {
      width: 31%;
    }
  }

  .personal-classes__block > div:first-of-type {
    padding-right: 15px;
  }

  .group-classes__tittle {
    font-size: 23px;
  }

  .group-classes__card p {
    font-size: 18px;
  }

  .group-classes__card-wrap {
    padding: 0 10px;
  }

  .header {
    margin-bottom: 100px;
  }

  .news .section-tittle {
    &::before,
    &::after {
      width: 35%;
    }
  }

  .group-classes .section-tittle {
    &::before,
    &::after {
      width: 20%;
    }
  }

  .group-classes__block-tittle {
    &::before,
    &::after {
      width: 25%;
    }
  }

  .group-classes__popuar > div:first-of-type {
    padding-right: 15px;

    text-align: left;
  }

  .group-classes__block-tittle--all {
    &::before,
    &::after {
      width: 34%;
    }
  }

  .group-classes__block-tittle {
    margin-bottom: 35px;
  }

  .group-classes__block:not(:last-of-type) {
    margin-bottom: 75px;
  }

  .group-classes__tittle,
  .group-classes__date {
    display: inline-block;
  }

  .group-classes__card-wrap {
    padding: 0 15px;
  }

  .personal-classes__block > div:first-of-type {
    text-align: left;
  }

  .group-classes__tittle br {
    display: none;
  }

  .contacts .section-tittle {
    &::before,
    &::after {
      width: 37%;
    }
  }

  .for-clients .section-tittle {
    &::before,
    &::after {
      width: 21%;
    }
  }

  .partners .section-tittle {
    &::before,
    &::after {
      width: 31%;
    }
  }

  .shedule .section-tittle {
    &::before,
    &::after {
      width: 27%;
    }
  }

  .shedule__slider-descr .btn-solid--romb {
    width: 100%;
  }

  .shedule__table-wrap h2 {
    font-size: 27px;
  }

  .slider-personal__img {
    height: 320px;
    img {
      max-width: 180px;
      margin-left: -90px;
    }
  }
}

@media screen and (max-width: 992px) {
  .bg-about-us {
    display: none;
  }

  .contacts .section-tittle {
    &::before,
    &::after {
      width: 33%;
    }
  }

  .contacts__right {
    padding-top: 20px;
  }

  .contacts__left p {
    font-size: 18px;
    span {
      font-size: 25px;
    }
  }

  .for-clients .section-tittle {
    &::before,
    &::after {
      width: 12%;
    }
  }

  .for-clients__block {
    margin-bottom: 30px;
    padding: 15px 15px 15px 75px;
    i {
      left: 15px;
    }
  }

  .for-clients__text {
    margin-bottom: 35px;
  }

  .partners .section-tittle {
    &::before,
    &::after {
      width: 26%;
    }
  }

  .shedule .section-tittle {
    &::before,
    &::after {
      width: 21%;
    }
  }

  .shedule__slider-img {
    display: none;
  }

  .shedule__slider-descr .btn-solid--romb {
    width: 85%;
  }

  .shedule__slider {
    margin-bottom: 50px;
    padding: 0 15px;
  }

  .shedule__table-wrap h2 {
    text-align: left;
  }

  .about-us {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 0;
  }

  .news__block {
    padding: 20px 0;
    &:nth-of-type(2n+2) .news__block-img {
      position: relative;
      right: auto;
    }
    .news__block-img {
      margin-bottom: 15px;
    }
  }

  .news__block-text {
    text-align: justify;
  }

  .pages-list a {
    margin: 0;
  }

  .group-classes__card-wrap {
    margin-bottom: 5px;
  }

  .btn-inf {
    top: 20px;
    right: 20px;
  }

  .group-classes__block-tittle {
    &::before,
    &::after {
      display: none;
    }
  }

  .group-classes__popuar,
  .group-classes__block-tittle,
  .personal-classes__block:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .group-classes__block:not(:last-of-type) {
    margin-bottom: 35px;
  }

  .group-classes__tittle {
    font-size: 18px;
  }

  .popover {
    font-size: 13px;
  }

  .contacts__right {
    padding-right: 0;
    padding-left: 0;
    h3 {
      font-size: 18px;

      top: -9px;
      left: 5px;

      padding: 0 10px;
    }
  }

  .contacts__left {
    margin-bottom: 35px;
    p {
      width: 240px;
      margin-right: auto;
      margin-left: auto;
      span {
        font-size: 20px;
      }
    }
  }

  .for-clients__text {
    margin-bottom: 20px;

    text-align: justify;
  }

  .for-clients__block {
    margin-bottom: 15px;
    padding: 15px;
    i {
      top: 15px;

      margin-top: 0;
    }
    h3 {
      font-size: 18px;

      margin-bottom: 20px;
      padding-top: 17px;
      padding-left: 60px;
    }
  }

  .for-clients__button {
    .btn-solid--romb {
      display: none;

      width: 200px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .btn-mobile {
      display: inline-block;
    }
  }

  .partners__slider {
    .slick-prev {
      left: 5px;
    }
    .slick-next {
      right: 5px;
    }
  }

  .shedule__text {
    margin-bottom: 20px;
    p {
      margin-bottom: 10px;

      text-align: justify;
      &:not(:last-of-type) {
        margin-bottom: 10px;

        text-align: justify;
      }
    }
  }

  .shedule__slider-descr-text h3 {
    margin-bottom: 10px;
  }

  .shedule__slider-descr-wrap {
    margin-bottom: 20px;
  }

  .shedule__slider-descr-text p {
    text-align: justify;
  }

  .shedule__slider {
    margin-bottom: 20px;
    padding: 0;
  }

  .shedule__table-wrap h2 {
    font-size: 20px;

    margin-bottom: 5px;

    text-align: center;
  }

  .shedule__slider-descr {
    .btn-solid--romb {
      display: none;

      width: 200px;
    }
    .btn-mobile {
      display: block;
    }
  }

  .about-us__descr {
    padding: 30px 0;
    p {
      text-align: justify;
    }
    .about-club__block {
      margin-bottom: 20px;
    }
  }

  .nav-tabs--gallery {
    display: block;

    padding-top: 10px;
    padding-left: 15px;
    > li > a {
      font-size: 16px;

      top: 0;
    }
  }

  .section-tittle--left {
    margin-bottom: 15px;
  }

  .about-us__advantages-block span {
    font-size: 50px;
    line-height: 50px;
  }

  .about-us__advantages-block-inner {
    margin-bottom: 20px;
    padding-left: 38px;
  }

  .about-us__advantages {
    padding-top: 25px;
  }

  .about-us__gallery {
    padding-bottom: 0;
  }

  .slider-personal__img {
    height: auto;
    img {
      position: relative;
      bottom: auto;
      left: auto;

      margin-left: 0;
    }
  }

  .slider-personal {
    .slick-prev,
    .slick-next {
      top: 90%;
    }
    .slick-prev {
      left: 15px;
    }
    .slick-next {
      right: 15px;
    }
  }

  .nav-tabs--gallery > li {
    display: block;
    float: none;
    > a {
      display: inline-block;
    }
    &.active > a::before {
      top: 50%;
      right: -10px;
      left: auto;

      margin-top: -10px;

      border: 10px solid #b49864;
      border-top-color: transparent;
      border-right: none;
      border-bottom-color: transparent;
    }
  }
}

@media screen and (max-width: 360px) {
  .news__block-tittle {
    font-size: 20px;
  }

  .news__block-date {
    display: block;

    text-align: center;
  }

  .news__block-descr .news__block-more {
    display: block;
    float: none;

    margin: 0 auto;
  }
}
