@import 'import/variables';
@import 'import/mixin';
@import 'theme/jquery.formstyler';
@import 'theme/bootstrap';
@import 'theme/ekko-lightbox';
@import 'theme/slick-theme';
@import 'theme/slick';


@font-face {
  font-family: 'Muller-Bold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/muller/Muller-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Muller-Hairline';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/muller/Muller-Hairline.otf') format('opentype');
}

@font-face {
  font-family: 'Muller-Thin';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/muller/Muller-Thin-DEMO.ttf') format('truetype');
}

@font-face {
  font-family: 'Muller-Light';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/muller/Muller-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Muller-Medium';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/muller/Muller-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Muller-Regular';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/muller/Muller-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Distro';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/distro/DISTRO__.ttf') format('truetype');
}

.distro {
  font-family: 'Distro';
}

body {
  font-family: 'Muller-Regular',sans-serif;
  font-size: 15px;
  &.home {
    .wrapper {
      background: url(../img/bg-footer.jpg);
    }
    .header-bg {
      background: url(../img/bg-head.jpg) no-repeat 50% 50%;
    }
  }
}

.wrapper {
  overflow: hidden;

  width: 100%;

  background: url(../img/bg-footer.jpg);
}

.header {
  /* background: url(../img/bg.jpg) no-repeat; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

section {
  padding: 40px 0 65px;
}

h1 {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 47px;
  font-weight: 400;

  color: #b49864;
}

h2 {
  font-family: 'Muller-Thin',sans-serif;
  font-size: 29px;

  letter-spacing: -.2px;

  color: #b49864;
}

.stretch {
  font-family: 'Muller-Light',sans-serif;
  font-size: 14px;

  letter-spacing: 10px;
}

.section-tittle {
  position: relative;

  margin-bottom: 30px;
  padding: 0 15px;

  text-align: center;
  h2 {
    font-family: 'Muller-Light',sans-serif;
    font-size: 33px;
    font-weight: 400;

    position: relative;

    padding: 0 30px;

    color: #fff;
  }
  &:before {
    position: absolute;
    top: 50%;

    display: block;

    width: 40%;
    height: 5px;
    margin-top: -4px;

    content: '';

    background: url(../img/brown-tittle-bg.png) repeat-x;
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 12px;

    display: block;

    width: 40%;
    height: 5px;
    margin-top: -4px;

    content: '';

    background: url(../img/brown-tittle-bg.png) repeat-x;
  }
}

* {
  outline: none !important;
}

/*_____________ ICONS ___________*/

i {
  &.ic {
    display: inline-block;

    width: 26px;
    height: 32px;

    background: url(../img/sprites.png) no-repeat;
  }
  &.ic-fb {
    width: 22px;
    height: 22px;

    background-position: -26px 0;
  }
  &.ic-vk {
    width: 32px;
    height: 18px;

    background-position: -48px 0;
  }
  &.ic-in {
    width: 22px;
    height: 22px;

    background-position: -80px 0;
  }
  &.ic-w_phone {
    width: 32px;
    height: 32px;

    background-position: -102px 0;
  }
  &.ic-gift {
    width: 21px;
    height: 23px;

    background-position: -134px 0;
  }
  &.ic-power {
    width: 74px;
    height: 66px;

    background-position: -64px -35px;
  }
  &.ic-energy {
    width: 55px;
    height: 63px;

    background-position: -138px -35px;
  }
  &.ic-honor {
    width: 67px;
    height: 63px;

    background-position: -193px -35px;
  }
  &.ic-shedule {
    width: 26px;
    height: 28px;

    background-position: -212px 0;
  }
  &.ic-time {
    width: 29px;
    height: 28px;

    background-position: -238px 0;
  }
  &.ic-map {
    width: 27px;
    height: 23px;

    background-position: -267px 0;
  }
  &.ic-check {
    width: 25px;
    height: 24px;

    background-position: -294px 0;
  }
  &.ic-send {
    width: 72px;
    height: 62px;

    background-position: -260px -35px;
  }
  &.ic-w_vk {
    width: 27px;
    height: 17px;

    background-position: -155px 0;
  }
  &.ic-w_fb {
    width: 10px;
    height: 18px;

    background-position: -182px 0;
  }
  &.ic-w_in {
    width: 20px;
    height: 20px;

    background-position: -192px 0;
  }
  &.ic-f_phone {
    width: 29px;
    height: 29px;

    background-position: -319px 0;
  }
  &.ic-f_marker {
    width: 27px;
    height: 33px;

    background-position: -348px 0;
  }
  &.ic-f_email {
    width: 32px;
    height: 24px;

    background-position: -375px 0;
  }
  &.ic-info {
    width: 25px;
    height: 25px;

    background-position: -384px -28px;
  }
  &.ic-aply {
    width: 46px;
    height: 46px;

    background-position: -384px -55px;
  }
  &.ic-apple {
    width: 63px;
    height: 53px;

    background-position: 0 -101px;
  }
}

.slick-current i.ic-apple {
  background-position: -230px -101px;
}

i.ic-stretch {
  width: 63px;
  height: 49px;

  background-position: -63px -101px;
}

.slick-current i.ic-stretch {
  background-position: -293px -101px;
}

i.ic-tabata {
  width: 46px;
  height: 52px;

  background-position: -126px -101px;
}

.slick-current i.ic-tabata {
  background-position: -356px -101px;
}

i.ic-body {
  width: 58px;
  height: 58px;

  background-position: -172px -101px;
}

.slick-current i.ic-body {
  background-position: 0 -160px;
}

i {
  &.ic-b_shedule {
    width: 24px;
    height: 26px;

    background-position: -113px -160px;
  }
  &.ic-b_time {
    width: 26px;
    height: 26px;

    background-position: -137px -160px;
  }
}

/*_____________ BUTTONS ___________*/

.btn {
  font-family: 'Muller-Bold',sans-serif;
  font-weight: 400;

  position: relative;

  display: block;

  width: 100%;
  padding: 0;

  -webkit-transition: .4s;
     -moz-transition: .4s;
      -ms-transition: .4s;
       -o-transition: .4s;
          transition: .4s;

  border: none;
  border-radius: 0;
  i {
    position: absolute;
    top: 13px;
    left: 24px;
  }
}

.btn-send {
  padding: 15px 0 10px;

  background: rgba(255, 255, 255, .28);
  i {
    position: relative;
    top: auto;
    left: auto;
  }
  &:hover {
    box-shadow: 0 0 5px 1px #fff;
  }
}

.btn-solid {
  font-size: 22px;
  line-height: 57px;

  color: #fff;
  border-bottom: 4px solid #876a34;
  background-color: #b49864;
  &:hover {
    color: #fff;
    background: #876a34;
  }
}

.btn-solid--romb {
  position: relative;

  width: 210px;
  height: 56px;
  margin: 0 auto;

  border: none;
  &:before,
  &:after {
    position: absolute;

    display: inline-block;

    width: 0;
    height: 0;

    content: '';
    -webkit-transition: .4s;
       -moz-transition: .4s;
        -ms-transition: .4s;
         -o-transition: .4s;
            transition: .4s;

    border: 28px solid #b49864;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  &:before {
    right: 100%;

    border-left: 0;
  }
  &:after {
    left: 100%;

    border-right: 0;
  }
  &:hover {
    &:before {
      border-right-color: #876a34;
    }
    &:after {
      border-left-color: #876a34;
    }
  }
  span {
    &:before,
    &:after {
      position: absolute;

      display: inline-block;

      width: 28px;
      height: 28px;

      content: '';
      -webkit-transition: .4s;
         -moz-transition: .4s;
          -ms-transition: .4s;
           -o-transition: .4s;
              transition: .4s;

      border: 2px solid #b49864;
      border-top: none;
      border-right: none;
    }
    &:before {
      top: 50%;
      left: -30px;

      margin-top: -14px;

      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    &:after {
      top: 50%;
      right: -30px;

      margin-top: -14px;

      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(-135deg);
    }
  }
  &:hover span {
    &:before {
      left: -34px;

      border-color: #876a34;
    }
    &:after {
      right: -34px;

      border-color: #876a34;
    }
  }
}

.btn-contur {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;

  height: 42px;

  text-transform: uppercase;

  color: #b49864;
  border: 3px solid #b49864;
  &:hover {
    color: #fff;
    border-color: #fff;
  }
}

/*_____________ FORMS ___________*/

.form-help {
  .form-control {
    font-family: 'Muller-Light',sans-serif;
    font-size: 20px;

    height: 39px;

    -webkit-transition: .4s;
       -moz-transition: .4s;
        -ms-transition: .4s;
         -o-transition: .4s;
            transition: .4s;

    color: #f9f0cf;
    border: none;
    border-radius: 0;
    background: rgba(255, 255, 255, .28);
    &:hover,
    &:focus {
      box-shadow: 0 0 5px 1px #fff;
    }
  }
  .form-group:last-of-type {
    margin-bottom: 0;
  }
}

.form-control {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    color: #f9f0cf;
  }
}

/* Firefox 19+ */
/* Firefox 18- */

.select {
  font-size: 17px;

  width: 183px;
  height: 38px;
  padding-top: 3px;
  padding-left: 13px;

  text-transform: uppercase;

  border: none;
  border-radius: 7px;
  background: rgba(0, 0, 0, .26) url(../img/select.png) no-repeat 100% 50%;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none !important;
}

.f-form-help {
  .form-control {
    font-family: 'Muller-Light',sans-serif;
    font-size: 14px;
    font-weight: 400;

    padding-left: 0;

    text-transform: uppercase;

    color: #caba93;
    border: none;
    border-bottom: 2px solid #caba93;
    border-radius: 0;
    outline: none;
    background: none;
    box-shadow: none;
  }
  .form-group {
    margin-bottom: 50px;
  }
  textarea.form-control {
    height: 39px;

    resize: none;
  }
}

.f-form-help--contacts {
  .form-control {
    border-bottom: 2px solid #b49864;
  }
  textarea.form-control {
    min-height: 90px;
    padding-left: 10px;

    border: none;
    background: rgba(33, 41, 48, .5);
  }
  .form-group {
    margin-bottom: 20px;
  }
}

.f-form-help .btn-solid {
  font-size: 17px;
  line-height: 40px;

  height: 42px;
}

.f-form-help--contacts .form-control {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    color: #b49864;
  }
}

/* Firefox 19+ */
/* Firefox 18- */

.jq-selectbox__select {
  padding-right: 0;
  padding-left: 0;

  color: #f9f0cf;
  border: none;
  outline: none;
  background: none;
  background: url(../img/f-select.png) no-repeat 100% 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none !important;
  &:hover,
  &:focus {
    padding-right: 0;
    padding-left: 0;

    color: #f9f0cf;
    border: none;
    outline: none;
    background: none;
    background: url(../img/f-select.png) no-repeat 100% 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-shadow: none;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
            appearance: none !important;
  }
}

#help-question {
  padding-right: 0;
  padding-left: 0;

  color: #f9f0cf;
  border: none;
  outline: none;
  background: none;
  background: url(../img/f-select.png) no-repeat 100% 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none !important;
}

.jq-selectbox.jqselect.form-control {
  padding-right: 0;
  &:focus {
    padding-right: 0;
  }
}

.jq-selectbox__select {
  position: relative;
  top: -6px;
}

.jq-selectbox .placeholder {
  color: #f9f0cf;
}

.jq-selectbox__trigger {
  display: none;
}

.jq-selectbox__dropdown {
  border-radius: 0;
  background: #ccc;
}

.form-control:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}

/*_____________ 1 MAIN ___________*/
/*_____1.1 HEADER ______*/

.header-bg {
  // background: url(../img/bg-head.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.h-top,
.h-bot {
  color: #fff;
}

.h-top {
  font-size: 20px;
  line-height: 22px;

  padding: 15px 0 11px;

  background: rgba(183, 129, 40, .7);
}

.h-top__left {
  p {
    position: relative;

    display: inline-block;

    padding-left: 35px;
  }
  .ic-w_marker {
    position: absolute;
    top: -2px;
    left: 0;
  }
}

.h-top a {
  font-family: 'Muller-Light',sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  display: block;

  text-align: right;
  text-decoration: underline;

  color: #fff;
  &:hover {
    text-decoration: none;
  }
}

.h-top__socials,
.h-top__phone,
.h-top__socials a {
  display: inline-block;

  vertical-align: top;
}

.h-top__right {
  text-align: right;
}

.h-top__socials {
  margin-right: 23px;
  padding-top: 5px;
  a {
    padding: 0 5px;
  }
}

.h-top__phone {
  p {
    position: relative;

    padding-left: 45px;
  }
  i {
    position: absolute;
    top: -2px;
    left: 0;
  }
  span {
    font-size: 25px;
  }
}

.h-bot {
  background: rgba(0, 0, 0, .45);
  ul {
    padding: 0 15px;
  }
  a {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    display: inline-block;

    padding: 25px;


            transition: .4s;

    color: #fff;
  }
  li {
    float: left;
    &:last-of-type a {
      padding: 24px 10px;

      background: rgba(0, 0, 0, .45);
    }
  }
  a:hover {
    text-decoration: none;

    background: rgba(0, 0, 0, .45);
  }
  li:nth-of-type(3) {
    margin-right: 235px;
  }
}

.header {
  position: relative;
  .logo {
    position: absolute;
    top: 22px;
    left: 50%;

    margin-left: -90px;
  }
}

/*_____1.2 BANNER ______*/

.banner {
  padding: 130px 0 0;

  color: #fff;
  img {
    width: 100%;
  }
}

.slogan {
  margin: 10px 0 15px;
  padding: 15px 0;

  border-top: 1px solid rgba(255, 255, 255, .3);
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.slider__block-text {
  padding-right: 34px;
}

.slider__block a {
  margin-top: 25px;
}

.slick-prev::before,
.slick-next::before {
  content: '';
}

.slick-prev,
.slick-next {
  z-index: 1;

  width: 32px;
  height: 60px;

  background: url(../img/sprites.png) no-repeat;
  background-position: 0 -35px;
}

.slick-prev {
  &:hover,
  &:focus {
    z-index: 1;

    width: 32px;
    height: 60px;

    background: url(../img/sprites.png) no-repeat;
    background-position: 0 -35px;
  }
}

.slick-next {
  background: url(../img/sprites.png) no-repeat;
  background-position: -32px -35px;
  &:hover,
  &:focus {
    background: url(../img/sprites.png) no-repeat;
    background-position: -32px -35px;
  }
}

.slick-prev:hover,
.slick-next:hover {
  opacity: .7;
}

.slick-prev {
  left: -55px;
}

.slick-next {
  right: -55px;
}

/*_____1.3 section.about-club ______*/

.about-club {
  padding-bottom: 0;

  color: #fff;
  background: url(../img/bg-about.jpg) no-repeat 50% 100%;
  background-size: cover;
}

.about-club__block {
  padding-top: 10px;

  text-align: center;
}

.about-club__text p {
  margin-bottom: 25px;
}

.about-club__block-icon {
  height: 87px;
}

.about-club__block h3 {
  margin: 0 0 12px;
}

.about-club .section-body {
  position: relative;

  padding-bottom: 70px;
}

.about-club__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*_____1.4 section.classes ______*/

.classes {
  padding-bottom: 45px;

  background: url(../img/bg-classes.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.nav-tabs {
  border: none;
}

.nav-tabs--classes > li {
  display: block;
  float: none;

  margin-bottom: 2px;
  padding-left: 32px;

  -webkit-transform: rotate(-10deg) skewX(-10deg);
     -moz-transform: rotate(-10deg) skewX(-10deg);
      -ms-transform: rotate(-10deg) skewX(-10deg);
       -o-transform: rotate(-10deg) skewX(-10deg);
          transform: rotate(-10deg) skewX(-10deg);

  border: none;
  background: rgba(0, 15, 34, .8);
  > a {
    font-family: 'Muller-Light',sans-serif;
    font-size: 19px;
    line-height: 22px;

    position: relative;

    margin: 0;
    padding: 40px 15px 15px 77px;

    -webkit-transform: skewX(10deg) rotate(10deg);
       -moz-transform: skewX(10deg) rotate(10deg);
        -ms-transform: skewX(10deg) rotate(10deg);
         -o-transform: skewX(10deg) rotate(10deg);
            transform: skewX(10deg) rotate(10deg);

    color: #fff;
    border: none;
    border-radius: 0;
    background: none !important;
  }
  &:first-of-type {
    padding-top: 25px;
  }
  &:last-of-type {
    padding-bottom: 35px;
  }
  &.active {
    background: #9e865a;
    > a {
      color: #fff;
      border: none;
      &:hover,
      &:focus {
        color: #fff;
        border: none;
      }
    }
  }
  &:hover {
    background: #9e865a;
  }
  > a .num {
    font-family: Distro,sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 58px;

    position: absolute;
    top: 31px;
    left: 0;

    color: #ab9161;
  }
  &.active > a .num,
  &:hover > a .num {
    color: #000e20;
  }
  &.active a:before {
    position: absolute;
    top: 15px;
    right: -10px;

    display: inline-block;

    width: 0;
    height: 0;

    content: '';

    border: 15px solid #9e865a;
    border-top-color: transparent;
    border-right: 0;
    border-bottom-color: transparent;
  }
}

.classes__descr {
  padding-top: 170px;

  color: #fff;
  h2 {
    font-family: 'Muller-Light',sans-serif;
    font-size: 40px;
    font-weight: 400;

    color: #fff;
  }
  p {
    font-family: 'Muller-Light',sans-serif;
    font-size: 16px;
    line-height: 18px;

    margin-bottom: 20px;
  }
  .btn {
    width: 260px;
    padding-left: 40px;
  }
}

.classes__teacher--wrap {
  padding-right: 0;
  padding-left: 80px;
}

.classes__teacher {
  padding: 20px;

  border: 1px solid #a68b5e;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .23);
}

.classes__teacher-img {
  overflow: hidden;

  width: 206px;
  height: 206px;
  margin: 0 auto 20px;

  border-radius: 50%;
  img {
    width: 100%;
  }
}

.classes__teacher-name {
  margin-bottom: 20px;

  text-align: center;

  color: #fff;
  p {
    font-family: 'Muller-Light',sans-serif;
    font-size: 17px;

    margin-bottom: 3px;
  }
  h3 {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 23px;
  }
}

.classes__teacher-info p {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 18px;

  position: relative;

  margin-bottom: 25px;
  padding-left: 40px;

  color: #a68b5e;
  i {
    position: absolute;
    top: -5px;
    left: 0;
  }
}

.form-help-wrap {
  padding: 45px 0;

  color: #fff;
  background: url(../img/bg-help-form.jpg) no-repeat 50% 50%;
  background-size: cover;
  h1 {
    font-size: 41px;

    padding-top: 10px;

    color: #fff;
  }
  p {
    font-family: 'Muller-Light',sans-serif;
    font-size: 27px;
  }
}

/*_____1.5 section.gallery ______*/

.gallery {
  position: relative;

  padding: 0;

  color: #fff;
  &:hover .gallery__descr-wrap {
    -webkit-animation: .5s fadeOut .5s forwards;
            animation: .4s fadeOut .4s forwards;

    opacity: 0;
  }
}

.gallery__descr-wrap {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding-top: 70px;

  -webkit-transition: .4s;
     -moz-transition: .4s;
      -ms-transition: .4s;
       -o-transition: .4s;
          transition: .4s;

  background-color: rgba(0, 0, 0, .67);
}

.gallery .section-tittle {
  &::before,
  &::after {
    width: 35%;
  }
}

.gallery__descr {
  text-align: center;
}

.gallery__descr-block {
  display: inline-block;

  padding: 0 30px 20px;
  h1 {
    font-family: 'Muller-Light',sans-serif;
    font-size: 53px;
    font-weight: 400;
    line-height: 55px;

    color: #fff;
  }
  p {
    font-family: 'Muller-Light',sans-serif;
    font-size: 23px;
    line-height: 23px;
  }
}

.gallery__images-block {
  padding: 0;
  a {
    display: inline-block;

    width: 100%;
  }
  img {
    width: 100%;
  }
}

/*_____1.6 section.price ______*/

.price {
  padding-bottom: 0;

  color: #fff;
  background: url(../img/bg-price.jpg) no-repeat 50% 50%;
  background-size: cover;
  .section-tittle {
    &::before,
    &::after {
      width: 37%;
    }
  }
}

.price__tittle {
  font-size: 23px;
  font-weight: 400;
  line-height: 38px;

  text-align: right;
}

.nav-tabs--price > li {
  &.active > a {
    color: #fff;
    border: 3px solid #cab48c;
    background-color: rgba(0, 0, 0, .52);
    &:hover,
    &:focus {
      color: #fff;
      border: 3px solid #cab48c;
      background-color: rgba(0, 0, 0, .52);
    }
  }
  > a {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 17px;
    line-height: 17px;

    padding: 8px 10px 5px;

    color: #fff;
    border: 3px solid transparent;
    border-radius: 7px;
    background: rgba(0, 0, 0, .26);
    &:hover {
      background-color: rgba(0, 0, 0, .52);
    }
  }
  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.price__tittle {
  margin-bottom: 30px;
}

.price-content__left {
  display: inline-block;
  float: left;

  width: 50%;
  select {
    margin-bottom: 30px;
  }
  li {
    font-size: 19px;
  }
}

.price-content__right {
  display: inline-block;
  float: left;

  width: 50%;
}

.price-content__left {
  padding-bottom: 50px;
}

.price-content__right {
  position: absolute;

  height: 100%;
  padding-right: 15px;
}

.price-content__card {
  position: relative;

  height: 100%;
  padding: 35px 35px 32px;

  border-radius: 5px 5px 0 0;
  background: url(../img/card.png) no-repeat 50% 50%;
  background-size: cover;
  box-shadow: 0 0 21.8px 2.2px rgba(0, 0, 0, .5);
}

.price-content__card-type {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 25px;
  font-weight: 400;

  margin-bottom: 10px;
}

.price-content__card-info {
  margin-bottom: 35px;
  p {
    font-family: 'Muller-Light',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;

    text-transform: uppercase;
  }
}

.price-content__card-price {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 30px;

  color: #cab48c;
}

.price-content__card img {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 125px;
}

/*_____1.7 section.comments ______*/

.comments {
  background: url(../img/bg-comments.jpg) no-repeat 50% 50%;
  background-size: cover;
  .section-tittle {
    &::before,
    &::after {
      width: 37%;

      background: url(../img/white-tittle-bg.png) repeat-x;
    }
    h2 {
      color: #0c1f2c;
    }
  }
}

.slider-comments__block {
  text-align: center;
}

.slider-comments__img {
  display: inline-block;
  overflow: hidden;

  margin-bottom: 10px;

  border-radius: 50%;
}

.slider-comments__text {
  font-family: 'Muller-Light',sans-serif;
  font-size: 17px;

  margin-bottom: 10px;
}

.slider-comments__name {
  font-family: 'Muller-Bold',sans-serif;
  font-size: 17px;

  color: #33414e;
}

.slider-comments {
  .slick-prev,
  .slick-next {
    top: 105px;

    width: 21px;
    height: 37px;

    background: url(../img/sprites.png) no-repeat;
    background-position: -334px -35px;
  }
  .slick-prev {
    &:hover,
    &:focus {
      top: 105px;

      width: 21px;
      height: 37px;

      background: url(../img/sprites.png) no-repeat;
      background-position: -334px -35px;
    }
  }
  .slick-next {
    background: url(../img/sprites.png) no-repeat;
    background-position: -359px -35px;
    &:hover,
    &:focus {
      background: url(../img/sprites.png) no-repeat;
      background-position: -359px -35px;
    }
  }
  .slick-prev {
    left: 35%;
  }
  .slick-next {
    right: 35%;
  }
}

#map {
  width: 100%;
  height: 450px;
}

/*_____1.8 FOOTER ______*/

footer {
  padding: 22px 0 35px;

  color: #fff;
  background: url(../img/bg-footer.jpg);
}

.f-logo-wrap {
  img,
  p {
    margin-bottom: 10px;
  }
}

.f-socials a {
  margin-right: 10px;
}

.f-contacts-wrap {
  padding-top: 35px;
  padding-left: 85px;
  p {
    font-family: 'Muller-Light',sans-serif;
    font-size: 21px;

    position: relative;

    margin-bottom: 30px;
    padding-left: 45px;
    i {
      position: absolute;
      top: 0;
      left: 0;
      &.ic-f_phone {
        top: 7px;
      }
      &.ic-f_email {
        top: 2px;
      }
    }
    span {
      font-size: 30px;
    }
  }
}

.f-form-wrap {
  position: relative;

  padding: 0;
}

.f-form-content {
  position: absolute;
  top: -166px;

  width: 100%;
  padding: 19px;

  background: url(../img/bg-footer.jpg);
}

.f-form {
  padding: 10px;

  border: 4px solid #ab9767;
  h2 {
    font-family: 'Muller-Bold',sans-serif;
    font-size: 27px;
    font-weight: 400;

    margin-bottom: 15px;

    text-align: center;

    color: #caba93;
  }
  .btn {
    margin-bottom: 10px;
  }
}

/*________________HUMBURGER______________*/

.hamburger {
  font: inherit;

  position: relative;
  z-index: 9999;

  display: none;
  overflow: visible;

  margin: 0;
  padding: 7px 15px 20px;

  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;

  color: inherit;
  border: 0;
  background-color: transparent;
  &:hover {
    opacity: .7;
  }
  &.is-active .hamburger-inner {
    background-color: #fff;
    &::before,
    &::after {
      background-color: #fff;
    }
  }
}

.hamburger-box {
  position: relative;

  display: inline-block;

  width: 40px;
  height: 24px;
}

.hamburger-inner {
  position: absolute;
  top: 50%;

  display: block;

  width: 40px;
  height: 4px;
  margin-top: -2px;

  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: -webkit-transform;
  transition-property:         transform;
  transition-property:         transform, -webkit-transform;

  border-radius: 4px;
  background-color: #fff;
  &::before,
  &::after {
    position: absolute;

    width: 40px;
    height: 4px;

    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: -webkit-transform;
    transition-property:         transform;
    transition-property:         transform, -webkit-transform;

    border-radius: 4px;
    background-color: #fff;
  }
  &::before,
  &::after {
    display: block;

    content: '';
  }
  &::before {
    top: -10px;
  }
  &::after {
    bottom: -10px;
  }
}

/*
 * Elastic
 */

.hamburger--elastic {
  .hamburger-inner {
    top: 2px;

    transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
    transition-duration: .4s;
    &::before {
      top: 10px;

      transition: opacity .15s .4s ease;
    }
    &::after {
      top: 20px;

      transition: -webkit-transform .4s cubic-bezier(.68, -.55, .265, 1.55);
      transition:         transform .4s cubic-bezier(.68, -.55, .265, 1.55);
      transition:         transform .4s cubic-bezier(.68, -.55, .265, 1.55), -webkit-transform .4s cubic-bezier(.68, -.55, .265, 1.55);
    }
  }
  &.is-active .hamburger-inner {
    transition-delay: .1s;
    -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
            transform: translate3d(0, 10px, 0) rotate(135deg);
    &::before {
      transition-delay: 0s;

      opacity: 0;
    }
    &::after {
      transition-delay: .1s;
      -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
              transform: translate3d(0, -20px, 0) rotate(-270deg);
    }
  }
}

/*
* Elastic Reverse
*/

.hamburger--elastic-r {
  .hamburger-inner {
    top: 2px;

    transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
    transition-duration: .4s;
    &::before {
      top: 10px;

      transition: opacity .15s .4s ease;
    }
    &::after {
      top: 20px;

      transition: -webkit-transform .4s cubic-bezier(.68, -.55, .265, 1.55);
      transition:         transform .4s cubic-bezier(.68, -.55, .265, 1.55);
      transition:         transform .4s cubic-bezier(.68, -.55, .265, 1.55), -webkit-transform .4s cubic-bezier(.68, -.55, .265, 1.55);
    }
  }
  &.is-active .hamburger-inner {
    transition-delay: .1s;
    -webkit-transform: translate3d(0, 10px, 0) rotate(-135deg);
            transform: translate3d(0, 10px, 0) rotate(-135deg);
    &::before {
      transition-delay: 0s;

      opacity: 0;
    }
    &::after {
      transition-delay: .1s;
      -webkit-transform: translate3d(0, -20px, 0) rotate(270deg);
              transform: translate3d(0, -20px, 0) rotate(270deg);
    }
  }
}

/*_________3 MEDIA _______*/
@media screen and (max-width: 1200px) {
  .header .logo {
    top: 85px;
  }

  .h-bot {
    a {
      padding: 25px 14px;
    }
    li:nth-of-type(3) {
      margin-right: 158px;
    }
  }

  .stretch {
    letter-spacing: 6px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 23px;

    letter-spacing: .1px;
  }

  .btn-solid {
    font-size: 20px;
  }

  .slider__block-text {
    padding-right: 0;
    padding-left: 49px;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .classes__teacher--wrap {
    padding-left: 15px;
  }

  .form-help-wrap {
    h1 {
      font-size: 33px;

      padding-top: 15px;
    }
    p {
      font-size: 24px;
    }
  }

  .gallery__images-block {
    width: 25%;
  }

  .gallery__descr-wrap {
    padding-top: 145px;
  }

  .nav-tabs--price > li > a {
    font-size: 14px;

    padding: 8px 6px 5px;
  }

  .price__tittle {
    font-size: 20px;
  }

  .price-content__left {
    width: 40%;
  }

  .price-content__right {
    width: 60%;
  }

  .price .section-tittle {
    &::before,
    &::after {
      width: 35%;
    }
  }

  .comments .section-tittle {
    &::before,
    &::after {
      width: 33%;

      background: url(../img/white-tittle-bg.png) repeat-x;
    }
  }

  .f-contacts-wrap {
    padding-left: 50px;
    p {
      font-size: 20px;
      span {
        font-size: 25px;
      }
    }
  }

  .f-form h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .h-bot {
    li:nth-of-type(3) {
      margin-right: 0;
    }
    a {
      padding: 26px 9px;
    }
  }

  .header .logo {
    top: 115px;

    margin-left: -90px;
  }

  .stretch {
    letter-spacing: 4px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 21px;

    letter-spacing: .3px;
  }

  .btn-solid {
    font-size: 18px;
  }

  .slider__block {
    position: relative;

    padding-bottom: 30px;
  }

  .slider__block-img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .section-tittle {
    &::before,
    &::after {
      width: 35%;
    }
  }

  .about-club__img {
    width: 250px;
  }

  .classes__descr {
    h2 {
      font-size: 27px;
    }
    p {
      text-align: justify;
    }
    .btn {
      width: 100%;
    }
  }

  .classes__teacher-name h3 {
    font-size: 18px;
  }

  .classes__teacher-info p {
    font-size: 15px;
  }

  .btn-solid--romb {
    width: 150px;
  }

  .classes__nav {
    padding-right: 0;
  }

  .nav-tabs--classes > li {
    padding-left: 15px;
    > a {
      font-size: 15px;

      padding-left: 60px;
      .num {
        font-size: 45px;
      }
    }
  }

  .form-help__tittle {
    margin-bottom: 20px;

    text-align: center;
  }

  .form-help-wrap {
    padding: 25px 0;
    h1 {
      padding-top: 0;
    }
  }

  .gallery .section-tittle {
    &::before,
    &::after {
      width: 29%;
    }
  }

  .price .section-tittle {
    &::before,
    &::after {
      width: 32%;
    }
  }

  .nav-tabs--price > li {
    margin-bottom: 10px;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  .price__tittle {
    font-size: 16px;
  }

  .price-content__left li,
  .price-content__card-info p {
    font-size: 14px;
  }

  .price-content__card-type {
    font-size: 20px;
  }

  .price-content__card {
    padding-left: 15px;
    img {
      right: 15px;

      width: 90px;
    }
  }

  .price-content__card-info {
    margin-bottom: 25px;
  }

  .price-content__card-price {
    font-size: 25px;
  }

  .price-content__left {
    padding-bottom: 40px;
  }

  .comments .section-tittle {
    &::before,
    &::after {
      width: 28%;
    }
  }

  .slider-comments {
    .slick-prev {
      left: 28%;
    }
    .slick-next {
      right: 28%;
    }
  }

  .f-contacts-wrap {
    padding: 80px 0 0 0;
  }

  .f-form-content {
    top: -139px;

    width: 86%;
    margin-left: 7%;
  }

  .f-contacts-wrap p {
    font-size: 16px;

    width: 220px;
    margin-left: -15px;
    span {
      font-size: 20px;
    }
    i {
      &.ic-f_phone,
      &.ic-f_email {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .h-top__left .ic-w_marker,
  .h-top__phone .ic-w_phone {
    -webkit-transform: scale(.7);
       -moz-transform: scale(.7);
        -ms-transform: scale(.7);
         -o-transform: scale(.7);
            transform: scale(.7);
  }

  .stretch,
  .slogan {
    text-align: center;
  }

  .h-top__left p {
    padding-left: 33px;
  }

  .h-top__phone p {
    padding-left: 35px;
  }

  .hamburger {
    display: block;
  }

  .h-bot .h-bot__nav {
    display: none;

    padding: 0;
  }

  .h-bot__nav li {
    display: block;
    float: none;
    a {
      display: block;

      padding: 10px 15px;

      text-align: center;
    }
  }

  .h-bot li:last-of-type a {
    padding-left: 15px;
  }

  .h-top__socials {
    display: none;
  }

  .h-top__left,
  .h-top__right {
    width: 280px;
    margin: 0 0 0 auto;

    text-align: right;
  }

  .h-top__left {
    margin-bottom: 10px;
  }

  .header .logo {
    top: 15px;
    left: 10px;

    width: 100px;
    margin-left: 0;
    img {
      width: 100%;
    }
  }

  .banner {
    padding: 30px 0 80px;
  }

  .slider__block-text {
    padding: 0 15px;
  }

  .slider__block-img {
    display: none;
  }

  .stretch {
    letter-spacing: 3px;
  }

  h1 {
    font-size: 31px;
  }

  h2 {
    font-size: 18px;

    letter-spacing: .6px;
  }

  .slick-prev,
  .slick-next {
    top: 105%;
  }

  .slick-prev {
    left: 15%;
  }

  .slick-next {
    right: 15%;
  }

  .btn-solid {
    font-size: 16px;
  }

  .section-tittle {
    &::before,
    &::after {
      width: 15%;
    }
  }

  section {
    padding: 20px 0;
  }

  .section-tittle {
    margin-bottom: 15px;
  }

  .about-club__text p {
    margin-bottom: 10px;
  }

  .about-club__img {
    display: none;
  }

  .about-club__block h3 {
    margin: 0;
  }

  .about-club__block-icon {
    height: auto;
  }

  .about-club .section-body {
    padding-bottom: 15px;
  }

  .classes__nav {
    margin-bottom: 20px;
    padding-right: 15px;
  }

  .nav-tabs--classes > li {
    -webkit-transform: rotate(-5deg) skewX(-5deg);
       -moz-transform: rotate(-5deg) skewX(-5deg);
        -ms-transform: rotate(-5deg) skewX(-5deg);
         -o-transform: rotate(-5deg) skewX(-5deg);
            transform: rotate(-5deg) skewX(-5deg);
    > a {
      position: relative;

      padding: 13px 15px 0 77px;

      -webkit-transform: skewX(5deg) rotate(5deg);
         -moz-transform: skewX(5deg) rotate(5deg);
          -ms-transform: skewX(5deg) rotate(5deg);
           -o-transform: skewX(5deg) rotate(5deg);
              transform: skewX(5deg) rotate(5deg);
      .num {
        top: 5px;
      }
    }
    &:first-of-type {
      padding-top: 10px;
    }
    &:last-of-type {
      padding-bottom: 10px;
    }
  }

  .classes__descr {
    padding-top: 15px;
  }

  .classes__descr--wrap {
    margin-bottom: 10px;
    padding: 0;
  }

  .classes__descr p {
    margin-bottom: 10px;
  }

  .classes__teacher--wrap {
    padding: 0;
  }

  .form-help-wrap {
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
  }

  .form-help__block {
    padding: 0;
  }

  .form-help__btn {
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .gallery__images-block {
    width: 50%;
  }

  .gallery__descr-wrap {
    padding-top: 80px;
  }

  .section-tittle h2 {
    font-size: 28px;

    padding: 0;
  }

  .gallery .section-tittle {
    &::before,
    &::after {
      width: 7%;
    }
  }

  .price .section-tittle {
    &::before,
    &::after {
      width: 10%;
    }
  }

  .price__tittle {
    font-size: 14px;
    line-height: 18px;

    margin-bottom: 5px;

    text-align: left;
  }

  .price-content__right {
    position: relative;

    width: 100%;
    padding-right: 0;
  }

  .select {
    width: 150px;
  }

  .price-content__left {
    padding-bottom: 15px;
  }

  .price-content__tittle .price__tittle {
    line-height: 38px;

    margin-bottom: 30px;
  }

  .nav-tabs--price > li:last-of-type {
    margin-bottom: 30px;
  }

  .section-tittle {
    &::before,
    &::after {
      display: none;
    }
  }

  .slider-comments {
    .slick-prev {
      left: 15px;
    }
    .slick-next {
      right: 15px;
    }
  }

  .slider-comments__text {
    font-size: 14px;

    padding: 0 15px;
  }

  .f-form-content {
    position: relative;
    top: auto;

    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }

  .f-logo-wrap {
    margin-bottom: 10px;

    text-align: center;
  }

  .f-form-help .form-group {
    margin-bottom: 10px;
  }

  .f-contacts-wrap {
    padding-top: 30px;

    text-align: center;
  }

  footer {
    padding: 20px 0 0;
  }

  .f-contacts-wrap p {
    margin: 0 auto 20px;
    i.ic-f_marker {
      top: -5px;
    }
  }

  .nav-tabs--classes > li.active a::before {
    top: 0;
  }

  .classes__descr .btn {
    padding-left: 0;
  }
}

@media screen and (max-width: 385px) {
  .h-top,
  .h-top__phone span {
    font-size: 16px;
  }
}

/*_______4 ANIMATION_____*/
@-webkit-keyframes fadeOut {
  from {
    z-index: 1;
  }

  to {
    z-index: -1;
  }
}

@keyframes fadeOut {
  from {
    z-index: 1;
  }

  to {
    z-index: -1;
  }
}

@import 'import/wordpress';
