@font-face {
  font-family: "Muller-Bold";
  src: url("../fonts/muller/Muller-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Muller-Hairline";
  src: url("../fonts/muller/Muller-Hairline.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Muller-Thin";
  src: url("../fonts/muller/Muller-Thin-DEMO.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Muller-Light";
  src: url("../fonts/muller/Muller-Light.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Muller-Medium";
  src: url("../fonts/muller/Muller-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Muller-Regular";
  src: url("../fonts/muller/Muller-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Distro";
  src: url("../fonts/distro/DISTRO__.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.distro {
  font-family: "Distro";
}

body {
  font-family: "Muller-Regular",sans-serif;
  font-size: 15px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.header {
  background: url(../img/bg.jpg) no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 40px 0 65px;
}

h1 {
  color: #b49864;
  font-size: 47px;
  font-weight: 400;
  font-family: "Muller-Bold",sans-serif;
}

h2 {
  color: #b49864;
  font-size: 29px;
  font-family: "Muller-Thin",sans-serif;
  letter-spacing: -0.2px;
}

.stretch {
  font-family: "Muller-Light",sans-serif;
  letter-spacing: 10px;
  font-size: 14px;
}

.section-tittle {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  padding: 0 15px;

  h2 {
    color: #fff;
    font-size: 33px;
    padding: 0 30px;
    position: relative;
    font-family: "Muller-Light",sans-serif;
    font-weight: 400;
  }

  &:before {
    content: '';
    display: block;
    width: 40%;
    height: 5px;
    background: url(../img/brown-tittle-bg.png) repeat-x;
    position: absolute;
    top: 50%;
    margin-top: -4px;
  }

  &:after {
    content: '';
    display: block;
    width: 40%;
    height: 5px;
    background: url(../img/brown-tittle-bg.png) repeat-x;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 12px;
  }
}

* {
  outline: none !important;
}

/*_____________ ICONS ___________*/

i {
  &.ic {
    display: inline-block;
    width: 26px;
    height: 32px;
    background: url(../img/sprites.png) no-repeat;
  }

  &.ic-fb {
    width: 22px;
    height: 22px;
    background-position: -26px 0;
  }

  &.ic-vk {
    width: 32px;
    height: 18px;
    background-position: -48px 0;
  }

  &.ic-in {
    width: 22px;
    height: 22px;
    background-position: -80px 0;
  }

  &.ic-w_phone {
    width: 32px;
    height: 32px;
    background-position: -102px 0;
  }

  &.ic-gift {
    width: 21px;
    height: 23px;
    background-position: -134px 0;
  }

  &.ic-power {
    width: 74px;
    height: 66px;
    background-position: -64px -35px;
  }

  &.ic-energy {
    width: 55px;
    height: 63px;
    background-position: -138px -35px;
  }

  &.ic-honor {
    width: 67px;
    height: 63px;
    background-position: -193px -35px;
  }

  &.ic-shedule {
    width: 26px;
    height: 28px;
    background-position: -212px 0;
  }

  &.ic-time {
    width: 29px;
    height: 28px;
    background-position: -238px 0;
  }

  &.ic-map {
    width: 27px;
    height: 23px;
    background-position: -267px 0;
  }

  &.ic-check {
    width: 25px;
    height: 24px;
    background-position: -294px 0;
  }

  &.ic-send {
    width: 72px;
    height: 62px;
    background-position: -260px -35px;
  }

  &.ic-w_vk {
    width: 27px;
    height: 17px;
    background-position: -155px 0;
  }

  &.ic-w_fb {
    width: 10px;
    height: 18px;
    background-position: -182px 0;
  }

  &.ic-w_in {
    width: 20px;
    height: 20px;
    background-position: -192px 0;
  }

  &.ic-f_phone {
    width: 29px;
    height: 29px;
    background-position: -319px 0;
  }

  &.ic-f_marker {
    width: 27px;
    height: 33px;
    background-position: -348px 0;
  }

  &.ic-f_email {
    width: 32px;
    height: 24px;
    background-position: -375px 0;
  }

  &.ic-info {
    width: 25px;
    height: 25px;
    background-position: -384px -28px;
  }

  &.ic-aply {
    width: 46px;
    height: 46px;
    background-position: -384px -55px;
  }

  &.ic-apple {
    width: 63px;
    height: 53px;
    background-position: 0 -101px;
  }
}

.slick-current i.ic-apple {
  background-position: -230px -101px;
}

i.ic-stretch {
  width: 63px;
  height: 49px;
  background-position: -63px -101px;
}

.slick-current i.ic-stretch {
  background-position: -293px -101px;
}

i.ic-tabata {
  width: 46px;
  height: 52px;
  background-position: -126px -101px;
}

.slick-current i.ic-tabata {
  background-position: -356px -101px;
}

i.ic-body {
  width: 58px;
  height: 58px;
  background-position: -172px -101px;
}

.slick-current i.ic-body {
  background-position: 0 -160px;
}

i {
  &.ic-b_shedule {
    width: 24px;
    height: 26px;
    background-position: -113px -160px;
  }

  &.ic-b_time {
    width: 26px;
    height: 26px;
    background-position: -137px -160px;
  }
}

/*_____________ BUTTONS ___________*/

.btn {
  display: block;
  width: 100%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 0;
  border: none;
  padding: 0;
  font-family: "Muller-Bold",sans-serif;
  font-weight: 400;
  position: relative;

  i {
    position: absolute;
    left: 24px;
    top: 13px;
  }
}

.btn-send {
  i {
    position: relative;
    left: auto;
    top: auto;
  }

  background: rgba(255, 255, 255, 0.28);
  padding: 15px 0 10px;

  &:hover {
    box-shadow: 0 0 5px 1px #fff;
  }
}

.btn-solid {
  line-height: 57px;
  color: #fff;
  background-color: #b49864;
  border-bottom: 4px solid #876a34;
  font-size: 22px;

  &:hover {
    color: #fff;
    background: #876A34;
  }
}

.btn-solid--romb {
  width: 210px;
  height: 56px;
  border: none;
  margin: 0 auto;
  position: relative;

  &:before, &:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 28px solid #b49864;
    border-top-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  &:before {
    border-left: 0;
    right: 100%;
  }

  &:after {
    border-right: 0;
    left: 100%;
  }

  &:hover {
    &:before {
      border-right-color: #876A34;
    }

    &:after {
      border-left-color: #876A34;
    }
  }

  span {
    &:before, &:after {
      content: '';
      display: inline-block;
      width: 28px;
      height: 28px;
      border: 2px solid #b49864;
      border-right: none;
      border-top: none;
      position: absolute;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }

    &:before {
      top: 50%;
      left: -30px;
      margin-top: -14px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:after {
      top: 50%;
      right: -30px;
      margin-top: -14px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(-135deg);
    }
  }

  &:hover span {
    &:before {
      border-color: #876A34;
      left: -34px;
    }

    &:after {
      border-color: #876A34;
      right: -34px;
    }
  }
}

.btn-contur {
  height: 42px;
  border: 3px solid #b49864;
  color: #b49864;
  font-family: "Muller-Bold",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    border-color: #fff;
  }
}

/*_____________ FORMS ___________*/

.form-help {
  .form-control {
    height: 39px;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.28);
    border: none;
    color: #f9f0cf;
    font-family: "Muller-Light",sans-serif;
    font-size: 20px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;

    &:hover, &:focus {
      box-shadow: 0 0 5px 1px #fff;
    }
  }

  .form-group:last-of-type {
    margin-bottom: 0;
  }
}

.form-control {
  &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
    color: #f9f0cf;
  }
}

/* Firefox 19+ */
/* Firefox 18- */

.select {
  width: 183px;
  height: 38px;
  border: none;
  background: rgba(0, 0, 0, 0.26) url(../img/select.png) no-repeat 100% 50%;
  border-radius: 7px;
  padding-top: 3px;
  padding-left: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  font-size: 17px;
  text-transform: uppercase;
}

.f-form-help {
  .form-control {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: #caba93;
    font-family: "Muller-Light",sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid #caba93;
    padding-left: 0;
    text-transform: uppercase;
    outline: none;
  }

  .form-group {
    margin-bottom: 50px;
  }

  textarea.form-control {
    resize: none;
    height: 39px;
  }
}

.f-form-help--contacts {
  .form-control {
    border-bottom: 2px solid #B49864;
  }

  textarea.form-control {
    border: none;
    background: rgba(33, 41, 48, 0.5);
    min-height: 90px;
    padding-left: 10px;
  }

  .form-group {
    margin-bottom: 20px;
  }
}

.f-form-help .btn-solid {
  height: 42px;
  line-height: 40px;
  font-size: 17px;
}

.f-form-help--contacts .form-control {
  &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
    color: #b49864;
  }
}

/* Firefox 19+ */
/* Firefox 18- */

.jq-selectbox__select {
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #f9f0cf;
  text-shadow: none;
  outline: none;
  background: url(../img/f-select.png) no-repeat 100% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;

  &:hover, &:focus {
    background: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #f9f0cf;
    text-shadow: none;
    outline: none;
    background: url(../img/f-select.png) no-repeat 100% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
  }
}

#help-question {
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #f9f0cf;
  text-shadow: none;
  outline: none;
  background: url(../img/f-select.png) no-repeat 100% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
}

.jq-selectbox.jqselect.form-control {
  padding-right: 0;

  &:focus {
    padding-right: 0;
  }
}

.jq-selectbox__select {
  position: relative;
  top: -6px;
}

.jq-selectbox .placeholder {
  color: #f9f0cf;
}

.jq-selectbox__trigger {
  display: none;
}

.jq-selectbox__dropdown {
  border-radius: 0;
  background: #ccc;
}

.form-control:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*_____________ 1 MAIN ___________*/
/*_____1.1 HEADER ______*/

.header-bg {
  background: url(../img/bg-head.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.h-top, .h-bot {
  color: #fff;
}

.h-top {
  background: rgba(183, 129, 40, 0.7);
  padding: 15px 0 11px;
  font-size: 20px;
  line-height: 22px;
}

.h-top__left {
  p {
    display: inline-block;
    position: relative;
    padding-left: 35px;
  }

  .ic-w_marker {
    position: absolute;
    top: -2px;
    left: 0;
  }
}

.h-top a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: underline;
  text-align: right;
  font-family: "Muller-Light",sans-serif;

  &:hover {
    text-decoration: none;
  }
}

.h-top__socials, .h-top__phone, .h-top__socials a {
  display: inline-block;
  vertical-align: top;
}

.h-top__right {
  text-align: right;
}

.h-top__socials {
  a {
    padding: 0 5px;
  }

  padding-top: 5px;
  margin-right: 23px;
}

.h-top__phone {
  p {
    padding-left: 45px;
    position: relative;
  }

  i {
    position: absolute;
    top: -2px;
    left: 0;
  }

  span {
    font-size: 25px;
  }
}

.h-bot {
  background: rgba(0, 0, 0, 0.45);

  ul {
    padding: 0 15px;
  }

  a {
    display: inline-block;
    color: #fff;
    font-family: "Muller-Bold",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding: 25px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  li {
    float: left;

    &:last-of-type a {
      padding: 21px 10px 21px;
      background: rgba(0, 0, 0, 0.45);
    }
  }

  a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.45);
  }

  li:nth-of-type(3) {
    margin-right: 235px;
  }
}

.header {
  position: relative;

  .logo {
    position: absolute;
    top: 22px;
    left: 50%;
    margin-left: -90px;
  }
}

/*_____1.2 BANNER ______*/

.banner {
  color: #fff;
  padding: 130px 0 0;

  img {
    width: 100%;
  }
}

.slogan {
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0 15px;
}

.slider__block-text {
  padding-right: 34px;
}

.slider__block a {
  margin-top: 25px;
}

.slick-prev::before, .slick-next::before {
  content: '';
}

.slick-prev, .slick-next {
  width: 32px;
  height: 60px;
  background: url(../img/sprites.png) no-repeat;
  background-position: 0 -35px;
  z-index: 1;
}

.slick-prev {
  &:hover, &:focus {
    width: 32px;
    height: 60px;
    background: url(../img/sprites.png) no-repeat;
    background-position: 0 -35px;
    z-index: 1;
  }
}

.slick-next {
  background: url(../img/sprites.png) no-repeat;
  background-position: -32px -35px;

  &:hover, &:focus {
    background: url(../img/sprites.png) no-repeat;
    background-position: -32px -35px;
  }
}

.slick-prev:hover, .slick-next:hover {
  opacity: 0.7;
}

.slick-prev {
  left: -55px;
}

.slick-next {
  right: -55px;
}

/*_____1.3 section.about-club ______*/

.about-club {
  color: #fff;
  background: url(../img/bg-about.jpg) no-repeat 50% 100%;
  background-size: cover;
  padding-bottom: 0;
}

.about-club__block {
  text-align: center;
  padding-top: 10px;
}

.about-club__text p {
  margin-bottom: 25px;
}

.about-club__block-icon {
  height: 87px;
}

.about-club__block h3 {
  margin: 0 0 12px;
}

.about-club .section-body {
  position: relative;
  padding-bottom: 70px;
}

.about-club__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*_____1.4 section.classes ______*/

.classes {
  background: url(../img/bg-classes.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding-bottom: 45px;
}

.nav-tabs {
  border: none;
}

.nav-tabs--classes > li {
  float: none;
  display: block;
  border: none;
  background: rgba(0, 15, 34, 0.8);
  -webkit-transform: rotate(-10deg) skewX(-10deg);
  -moz-transform: rotate(-10deg) skewX(-10deg);
  -ms-transform: rotate(-10deg) skewX(-10deg);
  -o-transform: rotate(-10deg) skewX(-10deg);
  transform: rotate(-10deg) skewX(-10deg);
  padding-left: 32px;
  margin-bottom: 2px;

  > a {
    color: #fff;
    border-radius: 0;
    margin: 0;
    background: none !important;
    border: none;
    font-family: "Muller-Light",sans-serif;
    font-size: 19px;
    line-height: 22px;
    -webkit-transform: skewX(10deg) rotate(10deg);
    -moz-transform: skewX(10deg) rotate(10deg);
    -ms-transform: skewX(10deg) rotate(10deg);
    -o-transform: skewX(10deg) rotate(10deg);
    transform: skewX(10deg) rotate(10deg);
    position: relative;
    padding: 40px 15px 15px 77px;
  }

  &:first-of-type {
    padding-top: 25px;
  }

  &:last-of-type {
    padding-bottom: 35px;
  }

  &.active {
    > a {
      border: none;
      color: #fff;

      &:hover, &:focus {
        border: none;
        color: #fff;
      }
    }

    background: #9E865A;
  }

  &:hover {
    background: #9E865A;
  }

  > a .num {
    color: #ab9161;
    font-family: Distro,sans-serif;
    font-size: 56px;
    line-height: 58px;
    font-weight: 700;
    position: absolute;
    top: 31px;
    left: 0;
  }

  &.active > a .num, &:hover > a .num {
    color: #000e20;
  }

  &.active a:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 15px solid #9E865A;
    border-right: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 15px;
    right: -10px;
  }
}

.classes__descr {
  color: #fff;
  padding-top: 170px;

  h2 {
    color: #fff;
    font-family: "Muller-Light",sans-serif;
    font-size: 40px;
    font-weight: 400;
  }

  p {
    font-family: "Muller-Light",sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .btn {
    width: 260px;
    padding-left: 40px;
  }
}

.classes__teacher--wrap {
  padding-right: 0;
  padding-left: 80px;
}

.classes__teacher {
  background-color: rgba(0, 0, 0, 0.23);
  border: 1px solid #a68b5e;
  border-radius: 5px;
  padding: 20px;
}

.classes__teacher-img {
  width: 206px;
  height: 206px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;

  img {
    width: 100%;
  }
}

.classes__teacher-name {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;

  p {
    font-family: "Muller-Light",sans-serif;
    font-size: 17px;
    margin-bottom: 3px;
  }

  h3 {
    font-family: "Muller-Bold",sans-serif;
    font-size: 23px;
  }
}

.classes__teacher-info p {
  padding-left: 40px;
  position: relative;
  color: #a68b5e;
  font-family: "Muller-Bold",sans-serif;
  font-size: 18px;
  margin-bottom: 25px;

  i {
    position: absolute;
    top: -5px;
    left: 0;
  }
}

.form-help-wrap {
  color: #fff;
  background: url(../img/bg-help-form.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding: 45px 0;

  h1 {
    color: #fff;
    font-size: 41px;
    padding-top: 10px;
  }

  p {
    font-family: "Muller-Light",sans-serif;
    font-size: 27px;
  }
}

/*_____1.5 section.gallery ______*/

.gallery {
  color: #fff;
  padding: 0;
  position: relative;

  &:hover .gallery__descr-wrap {
    opacity: 0;
    -webkit-animation: 0.5s fadeOut 0.5s forwards;
    animation: 0.4s fadeOut 0.4s forwards;
  }
}

.gallery__descr-wrap {
  background-color: rgba(0, 0, 0, 0.67);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding-top: 70px;
}

.gallery .section-tittle {
  &::before, &::after {
    width: 35%;
  }
}

.gallery__descr {
  text-align: center;
}

.gallery__descr-block {
  display: inline-block;
  padding: 0 30px 20px;

  h1 {
    color: #fff;
    font-family: "Muller-Light",sans-serif;
    font-weight: 400;
    font-size: 53px;
    line-height: 55px;
  }

  p {
    font-family: "Muller-Light",sans-serif;
    font-size: 23px;
    line-height: 23px;
  }
}

.gallery__images-block {
  padding: 0;

  a {
    display: inline-block;
    width: 100%;
  }

  img {
    width: 100%;
  }
}

/*_____1.6 section.price ______*/

.price {
  color: #fff;
  background: url(../img/bg-price.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding-bottom: 0;

  .section-tittle {
    &::before, &::after {
      width: 37%;
    }
  }
}

.price__tittle {
  text-align: right;
  font-size: 23px;
  font-weight: 400;
  line-height: 38px;
}

.nav-tabs--price > li {
  &.active > a {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.52);
    border: 3px solid #cab48c;

    &:hover, &:focus {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.52);
      border: 3px solid #cab48c;
    }
  }

  > a {
    color: #fff;
    border-radius: 7px;
    font-family: "Muller-Bold",sans-serif;
    border: 3px solid transparent;
    font-size: 17px;
    line-height: 17px;
    background: rgba(0, 0, 0, 0.26);
    padding: 8px 10px 5px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.52);
    }
  }

  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.price__tittle {
  margin-bottom: 30px;
}

.price-content__left {
  select {
    margin-bottom: 30px;
  }

  li {
    font-size: 19px;
  }

  display: inline-block;
  width: 50%;
  float: left;
}

.price-content__right {
  display: inline-block;
  width: 50%;
  float: left;
}

.price-content__left {
  padding-bottom: 50px;
}

.price-content__right {
  position: absolute;
  height: 100%;
  padding-right: 15px;
}

.price-content__card {
  background: url(../img/card.png) no-repeat 50% 50%;
  background-size: cover;
  padding: 35px 35px 32px;
  box-shadow: 0 0 21.8px 2.2px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
  height: 100%;
  position: relative;
}

.price-content__card-type {
  font-family: "Muller-Bold",sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 10px;
}

.price-content__card-info {
  p {
    font-family: "Muller-Light",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
  }

  margin-bottom: 35px;
}

.price-content__card-price {
  color: #cab48c;
  font-family: "Muller-Bold",sans-serif;
  font-size: 30px;
}

.price-content__card img {
  width: 125px;
  position: absolute;
  top: 20px;
  right: 20px;
}

/*_____1.7 section.comments ______*/

.comments {
  background: url(../img/bg-comments.jpg) no-repeat 50% 50%;
  background-size: cover;

  .section-tittle {
    &::before, &::after {
      width: 37%;
      background: url(../img/white-tittle-bg.png) repeat-x;
    }

    h2 {
      color: #0c1f2c;
    }
  }
}

.slider-comments__block {
  text-align: center;
}

.slider-comments__img {
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
}

.slider-comments__text {
  font-family: "Muller-Light",sans-serif;
  font-size: 17px;
  margin-bottom: 10px;
}

.slider-comments__name {
  color: #33414e;
  font-family: "Muller-Bold",sans-serif;
  font-size: 17px;
}

.slider-comments {
  .slick-prev, .slick-next {
    top: 105px;
    width: 21px;
    height: 37px;
    background: url(../img/sprites.png) no-repeat;
    background-position: -334px -35px;
  }

  .slick-prev {
    &:hover, &:focus {
      top: 105px;
      width: 21px;
      height: 37px;
      background: url(../img/sprites.png) no-repeat;
      background-position: -334px -35px;
    }
  }

  .slick-next {
    background: url(../img/sprites.png) no-repeat;
    background-position: -359px -35px;

    &:hover, &:focus {
      background: url(../img/sprites.png) no-repeat;
      background-position: -359px -35px;
    }
  }

  .slick-prev {
    left: 35%;
  }

  .slick-next {
    right: 35%;
  }
}

#map {
  width: 100%;
  height: 450px;
}

/*_____1.8 FOOTER ______*/

footer {
  color: #fff;
  background: url(../img/bg-footer.jpg);
  padding: 22px 0 35px;
}

.f-logo-wrap {
  img, p {
    margin-bottom: 10px;
  }
}

.f-socials a {
  margin-right: 10px;
}

.f-contacts-wrap {
  padding-top: 35px;
  padding-left: 85px;

  p {
    font-size: 21px;
    font-family: "Muller-Light",sans-serif;
    padding-left: 45px;
    margin-bottom: 30px;
    position: relative;

    i {
      position: absolute;
      top: 0;
      left: 0;

      &.ic-f_phone {
        top: 7px;
      }

      &.ic-f_email {
        top: 2px;
      }
    }

    span {
      font-size: 30px;
    }
  }
}

.f-form-wrap {
  position: relative;
  padding: 0;
}

.f-form-content {
  width: 100%;
  background: url(../img/bg-footer.jpg);
  padding: 19px;
  position: absolute;
  top: -166px;
}

.f-form {
  border: 4px solid #ab9767;
  padding: 10px;

  h2 {
    text-align: center;
    color: #caba93;
    font-family: "Muller-Bold",sans-serif;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .btn {
    margin-bottom: 10px;
  }
}

/*________________HUMBURGER______________*/

.hamburger {
  display: none;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 9999;
  position: relative;
  padding: 7px 15px 20px;

  &:hover {
    opacity: 0.7;
  }

  &.is-active .hamburger-inner {
    background-color: #fff;

    &::before, &::after {
      background-color: #fff;
    }
  }
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;

  &::before, &::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before, &::after {
    content: "";
    display: block;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}

              /*
 * Elastic
 */

.hamburger--elastic {
  .hamburger-inner {
    top: 2px;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      top: 10px;
      transition: opacity 0.15s 0.4s ease;
    }

    &::after {
      top: 20px;
      transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.1s;

    &::before {
      transition-delay: 0s;
      opacity: 0;
    }

    &::after {
      -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
      transform: translate3d(0, -20px, 0) rotate(-270deg);
      transition-delay: 0.1s;
    }
  }
}

            /*
* Elastic Reverse
*/

.hamburger--elastic-r {
  .hamburger-inner {
    top: 2px;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      top: 10px;
      transition: opacity 0.15s 0.4s ease;
    }

    &::after {
      top: 20px;
      transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, 10px, 0) rotate(-135deg);
    transform: translate3d(0, 10px, 0) rotate(-135deg);
    transition-delay: 0.1s;

    &::before {
      transition-delay: 0s;
      opacity: 0;
    }

    &::after {
      -webkit-transform: translate3d(0, -20px, 0) rotate(270deg);
      transform: translate3d(0, -20px, 0) rotate(270deg);
      transition-delay: 0.1s;
    }
  }
}

/*_________3 MEDIA _______*/
@media screen and (max-width: 1200px) {
  .header .logo {
    top: 85px;
  }

  .h-bot {
    a {
      padding: 25px 14px;
    }

    li:nth-of-type(3) {
      margin-right: 158px;
    }
  }

  .stretch {
    letter-spacing: 6px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 23px;
    letter-spacing: 0.1px;
  }

  .btn-solid {
    font-size: 20px;
  }

  .slider__block-text {
    padding-left: 49px;
    padding-right: 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .classes__teacher--wrap {
    padding-left: 15px;
  }

  .form-help-wrap {
    h1 {
      font-size: 33px;
      padding-top: 15px;
    }

    p {
      font-size: 24px;
    }
  }

  .gallery__images-block {
    width: 25%;
  }

  .gallery__descr-wrap {
    padding-top: 145px;
  }

  .nav-tabs--price > li > a {
    font-size: 14px;
    padding: 8px 6px 5px;
  }

  .price__tittle {
    font-size: 20px;
  }

  .price-content__left {
    width: 40%;
  }

  .price-content__right {
    width: 60%;
  }

  .price .section-tittle {
    &::before, &::after {
      width: 35%;
    }
  }

  .comments .section-tittle {
    &::before, &::after {
      width: 33%;
      background: url(../img/white-tittle-bg.png) repeat-x;
    }
  }

  .f-contacts-wrap {
    padding-left: 50px;

    p {
      font-size: 20px;

      span {
        font-size: 25px;
      }
    }
  }

  .f-form h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .h-bot {
    li:nth-of-type(3) {
      margin-right: 0px;
    }

    a {
      padding: 26px 9px;
    }
  }

  .header .logo {
    top: 115px;
    margin-left: -90px;
  }

  .stretch {
    letter-spacing: 4px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 21px;
    letter-spacing: 0.3px;
  }

  .btn-solid {
    font-size: 18px;
  }

  .slider__block {
    position: relative;
    padding-bottom: 30px;
  }

  .slider__block-img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .section-tittle {
    &::before, &::after {
      width: 35%;
    }
  }

  .about-club__img {
    width: 250px;
  }

  .classes__descr {
    h2 {
      font-size: 27px;
    }

    p {
      text-align: justify;
    }

    .btn {
      width: 100%;
    }
  }

  .classes__teacher-name h3 {
    font-size: 18px;
  }

  .classes__teacher-info p {
    font-size: 15px;
  }

  .btn-solid--romb {
    width: 150px;
  }

  .classes__nav {
    padding-right: 0;
  }

  .nav-tabs--classes > li {
    padding-left: 15px;

    > a {
      .num {
        font-size: 45px;
      }

      padding-left: 60px;
      font-size: 15px;
    }
  }

  .form-help__tittle {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-help-wrap {
    padding: 25px 0;

    h1 {
      padding-top: 0;
    }
  }

  .gallery .section-tittle {
    &::before, &::after {
      width: 29%;
    }
  }

  .price .section-tittle {
    &::before, &::after {
      width: 32%;
    }
  }

  .nav-tabs--price > li {
    margin-bottom: 10px;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  .price__tittle {
    font-size: 16px;
  }

  .price-content__left li, .price-content__card-info p {
    font-size: 14px;
  }

  .price-content__card-type {
    font-size: 20px;
  }

  .price-content__card {
    img {
      width: 90px;
      right: 15px;
    }

    padding-left: 15px;
  }

  .price-content__card-info {
    margin-bottom: 25px;
  }

  .price-content__card-price {
    font-size: 25px;
  }

  .price-content__left {
    padding-bottom: 40px;
  }

  .comments .section-tittle {
    &::before, &::after {
      width: 28%;
    }
  }

  .slider-comments {
    .slick-prev {
      left: 28%;
    }

    .slick-next {
      right: 28%;
    }
  }

  .f-contacts-wrap {
    padding: 80px 0 0 0;
  }

  .f-form-content {
    width: 86%;
    margin-left: 7%;
    top: -139px;
  }

  .f-contacts-wrap p {
    span {
      font-size: 20px;
    }

    width: 220px;
    font-size: 16px;
    margin-left: -15px;

    i {
      &.ic-f_phone, &.ic-f_email {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .h-top__left .ic-w_marker, .h-top__phone .ic-w_phone {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }

  .stretch, .slogan {
    text-align: center;
  }

  .h-top__left p {
    padding-left: 33px;
  }

  .h-top__phone p {
    padding-left: 35px;
  }

  .hamburger {
    display: block;
  }

  .h-bot .h-bot__nav {
    display: none;
    padding: 0;
  }

  .h-bot__nav li {
    float: none;
    display: block;

    a {
      display: block;
      padding: 10px 15px;
      text-align: center;
    }
  }

  .h-bot li:last-of-type a {
    padding-left: 15px;
  }

  .h-top__socials {
    display: none;
  }

  .h-top__left, .h-top__right {
    width: 280px;
    margin: 0 0 0 auto;
    text-align: right;
  }

  .h-top__left {
    margin-bottom: 10px;
  }

  .header .logo {
    width: 100px;
    top: 15px;
    left: 10px;
    margin-left: 0;

    img {
      width: 100%;
    }
  }

  .banner {
    padding: 30px 0 80px;
  }

  .slider__block-text {
    padding: 0 15px;
  }

  .slider__block-img {
    display: none;
  }

  .stretch {
    letter-spacing: 3px;
  }

  h1 {
    font-size: 31px;
  }

  h2 {
    font-size: 18px;
    letter-spacing: 0.6px;
  }

  .slick-prev, .slick-next {
    top: 105%;
  }

  .slick-prev {
    left: 15%;
  }

  .slick-next {
    right: 15%;
  }

  .btn-solid {
    font-size: 16px;
  }

  .section-tittle {
    &::before, &::after {
      width: 15%;
    }
  }

  section {
    padding: 20px 0;
  }

  .section-tittle {
    margin-bottom: 15px;
  }

  .about-club__text p {
    margin-bottom: 10px;
  }

  .about-club__img {
    display: none;
  }

  .about-club__block h3 {
    margin: 0;
  }

  .about-club__block-icon {
    height: auto;
  }

  .about-club .section-body {
    padding-bottom: 15px;
  }

  .classes__nav {
    padding-right: 15px;
    margin-bottom: 20px;
  }

  .nav-tabs--classes > li {
    -webkit-transform: rotate(-5deg) skewX(-5deg);
    -moz-transform: rotate(-5deg) skewX(-5deg);
    -ms-transform: rotate(-5deg) skewX(-5deg);
    -o-transform: rotate(-5deg) skewX(-5deg);
    transform: rotate(-5deg) skewX(-5deg);

    > a {
      -webkit-transform: skewX(5deg) rotate(5deg);
      -moz-transform: skewX(5deg) rotate(5deg);
      -ms-transform: skewX(5deg) rotate(5deg);
      -o-transform: skewX(5deg) rotate(5deg);
      transform: skewX(5deg) rotate(5deg);
      position: relative;
      padding: 13px 15px 0px 77px;

      .num {
        top: 5px;
      }
    }

    &:first-of-type {
      padding-top: 10px;
    }

    &:last-of-type {
      padding-bottom: 10px;
    }
  }

  .classes__descr {
    padding-top: 15px;
  }

  .classes__descr--wrap {
    padding: 0;
    margin-bottom: 10px;
  }

  .classes__descr p {
    margin-bottom: 10px;
  }

  .classes__teacher--wrap {
    padding: 0;
  }

  .form-help-wrap {
    h1 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }

  .form-help__block {
    padding: 0;
  }

  .form-help__btn {
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .gallery__images-block {
    width: 50%;
  }

  .gallery__descr-wrap {
    padding-top: 80px;
  }

  .section-tittle h2 {
    font-size: 28px;
    padding: 0;
  }

  .gallery .section-tittle {
    &::before, &::after {
      width: 7%;
    }
  }

  .price .section-tittle {
    &::before, &::after {
      width: 10%;
    }
  }

  .price__tittle {
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
  }

  .price-content__right {
    width: 100%;
    position: relative;
    padding-right: 0;
  }

  .select {
    width: 150px;
  }

  .price-content__left {
    padding-bottom: 15px;
  }

  .price-content__tittle .price__tittle {
    margin-bottom: 30px;
    line-height: 38px;
  }

  .nav-tabs--price > li:last-of-type {
    margin-bottom: 30px;
  }

  .section-tittle {
    &::before, &::after {
      display: none;
    }
  }

  .slider-comments {
    .slick-prev {
      left: 15px;
    }

    .slick-next {
      right: 15px;
    }
  }

  .slider-comments__text {
    padding: 0 15px;
    font-size: 14px;
  }

  .f-form-content {
    width: 100%;
    margin-left: 0;
    position: relative;
    top: auto;
    padding: 0 15px;
  }

  .f-logo-wrap {
    text-align: center;
    margin-bottom: 10px;
  }

  .f-form-help .form-group {
    margin-bottom: 10px;
  }

  .f-contacts-wrap {
    text-align: center;
    padding-top: 30px;
  }

  footer {
    padding: 20px 0 0;
  }

  .f-contacts-wrap p {
    margin: 0 auto 20px;

    i.ic-f_marker {
      top: -5px;
    }
  }

  .nav-tabs--classes > li.active a::before {
    top: 0;
  }

  .classes__descr .btn {
    padding-left: 0;
  }
}

@media screen and (max-width: 385px) {
  .h-top, .h-top__phone span {
    font-size: 16px;
  }
}

/*_______4 ANIMATION_____*/
@-webkit-keyframes fadeOut {
  from {
    z-index: 1;
  }

  to {
    z-index: -1;
  }
}

@keyframes fadeOut {
  from {
    z-index: 1;
  }

  to {
    z-index: -1;
  }
}
